.dropdown-toggle::after {
    display:none;
}

#moreOptionPostDropdown {
    border: none
}

.card {
    padding: 10px;
    margin: 10px;
    border-radius: 0px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
