
.navbar {
    border-left-style: solid;
    border-bottom-style: solid;
    border-right-style: solid;
    border-width: 1px;
    border-left-color: lightgray;

}

.login-nav-item {
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-width: 1px;
    border-top-color: lightgray;
    border-left-color: lightgray;

    padding-left: 10px;
}

.modal-button {
    margin: 15px;
    background-color: white;
}


.buttonsAndInputBoxes {
    height: 40px;
    margin: 5px;
}

.shortBox {
    width: 41.2%;
    padding-left: 15px;
}


@media (min-width: 1200px) {
}