<!DOCTYPE html>
<html>


<div class="row">
  <div class="centerSpace col-12">
    <p>Welcome to Sisterside...</p>
  </div>
</div>

<div class="row">
  <div class="bottomLeftSpace ">
    <p>How it works</p>
  </div>
  <div class="bottomCenterSpace ">
    <p>What we do</p>
  </div>
  <div class="bottomRightSpace ">
    <p>Join today</p>
  </div>
</div>

<div class="row">
  <div class="footer col-12">
    <ul class="nav" RouterLinkActive="active">
      <div class="mr-auto">
        <li>
          <a routerLink="/welcome/about">About us</a>
        </li>
        <li>
          <a routerLink="/welcome/terms">Terms & Conditions</a>
        </li>
        <li>
          <a routerLink="/welcome/privacy">Privacy Policy</a>
        </li>
      </div>
      <li>
        © Sisterside. All rights reserved
      </li>
    </ul>
  </div>
</div>


</html>
