.back-button {
    border: none;
    margin-top: 10px;

    background-color: white;
}

.material-icons {
    position: relative;
    /* Adjust these values accordingly */
    bottom: 1px;

  }

.privacyHeader {
    padding-top: 3%;
    padding-bottom: 1.5%;
}

