<!DOCTYPE html>
<html>


<div class="row">
  
  <a routerLink="./home" RouterLinkActive="active">
    <button class="back-button" type="button" >
        <i class="material-icons" style="font-size:32px; color:lightslategray; vertical-align: middle;">keyboard_arrow_left</i>
       Back
      </button>
  </a>
</div>

<div class="tcHeader">
  <h2>Terms & Conditions</h2>
</div>

<div class="tcText">
  <p>
    Lorem ipsum dolor sit amet, mel ei torquatos scripserit, patrioque efficiantur pri no. Vix facete senserit an, stet nobis
    ut eos. Sed graeci virtute reformidans ne, congue tritani cu per, an vim omnis tamquam. Ex pri sanctus menandri petentium,
    ea ius dolorum vocibus democritum. 
    Ei sed harum vivendo dignissim. Eam te unum feugait lucilius, at lorem abhorreant
    usu. Ius enim velit causae et, eos alii tale salutatus id. Essent epicuri facilisis pro in. Pri alienum fierent in, mei
    autem facilisi eu. Eam utamur reprehendunt no. Cum at solet alienum. No accusata elaboraret intellegam sit, vis causae
    denique petentium ei, prima choro mucius no mel. Eu ferri posidonium mei, cum error vitae ne, admodum expetenda interesset
    vel ea. Ne pro suscipit insolens, sed cu viris blandit consulatu, no his essent ceteros delectus. Accusam corpora fierent
    eam et, cu saepe nostrum vis. Vel essent audiam principes ei, ut apeirian invenire eum, te iudico admodum volumus vis.
    Usu erroribus deterruisset id. In his vidisse interesset. Mei simul corrumpit te, ad mea nonumes adipisci intellegebat,
    an eos rebum iracundia. Cibo illud constituto an sit, nulla facilisis et sea. Quando homero aliquando cu sea, sea at
    accusata disputando, ad eos congue dolore. Sed iuvaret interesset disputando id. Porro idque ut mei. Quot purto quaerendum
    ex cum. Usu ut sumo similique, est esse affert senserit no, nec eu modo populo. Pri illud platonem disputando ad, sed
    ei quot quaestio suscipiantur. Cu cum alia laudem intellegam, an eum congue dissentiet.
  </p>
</div>



</html>
